{{define "subject"}}Welcome To Remind Me!{{end}}

{{define "plainBody"}}
Hi,

Thanks for signing up for a Remind Me account. We're excited to have you on board!

You Need to go to the following link to activate your account: https://remind-me.com/user/activation/{{.ID}}

Thanks,

Andrew From The Remind Me Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi,</p>
    <p>Thanks for signing up for a Remind Me account. We're excited to have you on board!</p>
    <p>You Need to go to the following link to activate your account: <a href="https://remind-me.com/user/activation/{{.ID}}" title="account activation" aria-label="activation link">Active Account</a>.</p>
    <p>Thanks,</p>
    <p>Andrew From Remind Me</p>
</body>

</html>
{{end}}